# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
**/.DS_Store 
.DS_Store? 


yarn.lock
package-lock.json
node_modules/
.env

/.sass-cache
/.vscode/*
