@import "@/app/styles/abstracts/variables";

.card__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 11rem;
  margin: 1rem auto;
  gap: 0.5rem;

  @media screen and (min-width: $screen-xxs) {
    max-width: 23rem;
  }

  @media screen and (min-width: $screen-xs) {
    max-width: 39rem;
  }

  @media screen and (min-width: $screen-xl) {
    max-width: 48rem;
  }
}

.card {
  padding: 0.5rem;
  width: 175px;

  @media screen and (min-width: $screen-xxs) {
    width: 175px;
  }

  @media screen and (min-width: $screen-xs) {
    width: 200px;
  }

  @media screen and (min-width: $screen-xl) {
    width: 250px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
  }

  .btn__self {
    display: flex;
    align-self: flex-end;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
}
