@import "@/app/styles/abstracts/variables";

.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 11rem;
  margin: 1rem auto;
  gap: 0.5rem;

  @media screen and (min-width: $screen-xxs) {
    max-width: 23rem;
  }

  @media screen and (min-width: $screen-xs) {
    max-width: 35rem;
  }

  @media screen and (min-width: $screen-xl) {
    max-width: 40rem;
  }
}

.card {
  padding: 0.5rem;
  width: 175px;

  &__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
}

.card p {
  font-size: 1rem;
  color: black;
}
