@import "@/app/styles/abstracts/variables";

.card__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 11rem;
  margin: 1rem auto;
  gap: 0.5rem;

  @media screen and (min-width: $screen-xxs) {
    max-width: 23rem;
  }

  @media screen and (min-width: $screen-xs) {
    max-width: 39rem;
  }

  @media screen and (min-width: $screen-xl) {
    max-width: 48rem;
  }
}

.card {
  padding: 0.5rem;
  width: 175px;

  @media screen and (min-width: $screen-xxs) {
    width: 175px;
  }

  @media screen and (min-width: $screen-xs) {
    width: 200px;
  }

  @media screen and (min-width: $screen-xl) {
    width: 250px;
  }

  &__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  p {
    font-size: 1rem;
    color: black;
  }
}
