.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  @media screen and (min-width: $screen-xxs) {
    padding: 0.5rem;
  }
  @media screen and (min-width: $screen-xs) {
    padding: 1rem;
  }

  @media screen and (min-width: $screen-xl) {
    padding: 2rem;
  }

  .header__links {
    display: flex;

    @media screen and (min-width: $screen-xs) {
      gap: 0.5rem;
      font-size: 1.5rem;
    }

    @media screen and (min-width: $screen-xl) {
      gap: 1rem;
      font-size: 2rem;
    }

    a {
      text-decoration: none;
      font-size: 1rem;
      color: #000;

      @media screen and (min-width: $screen-xs) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: $screen-xl) {
        font-size: 2rem;
      }
    }
  }

  .header__home-link {
    text-decoration: none;
    font-size: 1rem;
    color: #000;

    @media screen and (min-width: $screen-xxs) {
      font-size: 1.5rem;
    }
    @media screen and (min-width: $screen-xs) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: $screen-xl) {
      font-size: 2rem;
    }
  }

  .header__icons {
    display: flex;
    gap: 2rem;
  }

  .menu__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .menu__close {
      display: flex;
      justify-content: flex-end;
    }

    .menu__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    a {
      margin-top: 2rem;
      text-decoration: none;
      font-size: 1rem;
      color: #000;

      @media screen and (min-width: $screen-xxs) {
        font-size: 1.5rem;
      }
      @media screen and (min-width: $screen-xs) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: $screen-xl) {
        font-size: 2rem;
      }
    }
  }
}
