@import "@/app/styles/abstracts/variables";

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  padding: 1rem;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  border-bottom: 1px solid #000;

  @media screen and (min-width: $screen-xxs) {
    padding: 0.1rem;
  }

  @media screen and (min-width: $screen-xs) {
    padding: 0.5rem;
  }
  @media screen and (min-width: $screen-md) {
    padding: 0.6rem;
  }

  @media screen and (min-width: $screen-xl) {
    padding: 0.8rem;
  }

  .header__links {
    display: flex;

    @media screen and (min-width: $screen-xxs) {
      gap: 0.2rem;
      font-size: 0.5rem;
    }

    @media screen and (min-width: $screen-md) {
      gap: 1rem;
      font-size: 1.5rem;
    }

    @media screen and (min-width: $screen-xl) {
      gap: 1.4rem;
      font-size: 2rem;
    }
  }

  .header__homelink {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;

    @media screen and (min-width: $screen-xs) {
      font-size: 1.5rem;
    }
    @media screen and (min-width: $screen-md) {
      font-size: 1.8rem;
    }

    @media screen and (min-width: $screen-xl) {
      font-size: 2rem;
    }
  }

  .header__otherBtns {
    display: flex;
  }
  .header__icons {
    display: flex;
    gap: 2rem;
  }

  .menu__content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .menu__close {
      display: flex;
      justify-content: flex-end;
    }

    .menu__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      text-decoration: none;

      &_about {
        text-decoration: none;
        font-size: 1rem;

        @media screen and (min-width: $screen-xxs) {
          font-size: 1rem;
        }
        @media screen and (min-width: $screen-xs) {
          font-size: 1.3rem;
        }
      }
    }
  }
}
