@import "@/app/styles/abstracts/variables";
@import "@/app/styles/abstracts/mixins";

.cart {
  @include stacked-elements;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &__title {
    margin-bottom: 2rem;
    font-size: 2rem;

    @media screen and (min-width: $screen-xs) {
      font-size: 2.5rem;
    }
    @media screen and (min-width: $screen-md) {
      font-size: 3rem;
    }

    @media screen and (min-width: $screen-xl) {
      font-size: 3rem;
    }
  }

  &__message {
    font-size: 0.4rem;
    font-size: 1rem;
    color: gray;

    @media screen and (min-width: $screen-xs) {
      font-size: 1.5rem;
    }
    @media screen and (min-width: $screen-md) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: $screen-xl) {
      font-size: 2rem;
    }
  }

  .cards__container {
    display: flex;
    justify-content: center;
    width: 100%;

    .card__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 11rem;
      margin: 1rem auto;
      gap: 0.2rem;

      @media screen and (min-width: $screen-xs) {
        max-width: 23rem;
      }

      @media screen and (min-width: $screen-md) {
        max-width: 39rem;
      }

      @media screen and (min-width: $screen-xl) {
        max-width: 48rem;
      }

      .card {
        padding: 0.5rem;
        width: 175px;

        @media screen and (min-width: $screen-xs) {
          width: 175px;
        }

        @media screen and (min-width: $screen-md) {
          width: 200px;
        }

        @media screen and (min-width: $screen-xl) {
          width: 250px;
        }

        &__info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 0.3rem;
          gap: 0.3rem;

          &_deleted {
            display: flex;
            justify-content: flex-end;
            width: 100%;
          }
        }
        p {
          font-size: 0.7rem;
        }
      }
    }
  }
  &__total {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    margin-right: 3rem;
    width: 100%;
    font-size: 1.5rem;
  }
}
