@import "@/app/styles/abstracts/variables";
@import "@/app/styles/abstracts/mixins";

.cart {
  @include stacked-elements;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &__title {
    margin-bottom: 2rem;
    font-size: 2rem;

    @media screen and (min-width: $screen-xxs) {
      font-size: 2.5rem;
    }
    @media screen and (min-width: $screen-xs) {
      font-size: 3rem;
    }

    @media screen and (min-width: $screen-xl) {
      font-size: 3rem;
    }
  }

  &__message {
    font-size: 0.4rem;
    font-size: 1rem;
    color: gray;

    @media screen and (min-width: $screen-xxs) {
      font-size: 1.5rem;
    }
    @media screen and (min-width: $screen-xs) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: $screen-xl) {
      font-size: 2rem;
    }
  }

  .cards__container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 11rem;
    margin: 1rem auto;
    gap: 0.5rem;

    @media screen and (min-width: $screen-xxs) {
      max-width: 23rem;
    }

    @media screen and (min-width: $screen-xs) {
      max-width: 38rem;
    }

    @media screen and (min-width: $screen-xl) {
      max-width: 63rem;
    }

    .card {
      padding: 0.5rem;
      width: 175px;

      &__price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
